[client]
[mysqld]
user = root
#datadir = /app/mysql
port = 3306
performance_schema = ON
#log-bin = /var/lib/mysql/mysql-bin
bind-address = 0.0.0.0          #If the address is 0.0.0.0, the server accepts TCP/IP connections on all server host IPv4 interfaces.
skip-networking = false
# https://mariadb.com/kb/en/configuring-mariadb-connectorc-with-option-files/